




    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <h3 class="form-head">Personal Information</h3>

                        <hr>
                      
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-btn">
                                        <button class="submit-btn" onclick="location.href='@Url.Action("Create", "PersonalDatas")';return false;">Sing Up</button>

                                    </div>
                               </div>

                                <div class="col-md-6">
                                    <div class="form-btn">
                                        <button class="submit-btn" onclick="location.href='@Url.Action("Login", "PersonalDatas")';return false;">Login</button>

                                    </div>
                                </div>


                                </div>
                             
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
