


    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <h3 class="form-head">Personal Information</h3>

                        <hr>
@using (Html.BeginForm("Login", "PersonalDatas", FormMethod.Post))
{

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Email", htmlAttributes: new { @class = "form-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="email" name="Email" required class = "form-control" >

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-btn">
                                        @*<button class="submit-btn" onclick="location.href='@Url.Action("Login", "PersonalDatas")';return false;">Sing Up</button>*@
                                       
                                            @*<button class="submit-btn" onclick="location.href='@Url.Action("Login", "PersonalDatas", null, )';return false;">Sing Up</button>*@
                                            <input type="submit" value="Next" class="submit-btn" />
                                        
                                    </div>
                                </div>
                            </div>
}
                    </div>
                </div>
            </div>
        </div>
    </div>
